<header>
    <a class="navbar-brand" href="#">
        <img src="../../../../assets/images/logo.png" width="120" height="30" alt="" loading="lazy">
    </a>
    <input type="checkbox" id="btn-menu">
    <label for="btn-menu"><img src="../../../../assets/images/menu-de-tres-lineas.png" width="30" height="30" alt=""></label>
    <nav class="menu">
        <ul>
            <li class="nav-link active"><a  aria-selected="true" class="activo" href="#">HOME</a></li>
            <li class="nav-link"><a  href="#">CATEGORIES</a></li>
            <li class="nav-link"><a  href="#">MY FAVORITIES</a></li>
            <li class="nav-link" id="signIn"><a href="#">SIGN IN</a></li>
        </ul>
    </nav>
    
</header>